* {
  box-sizing: border-box;
}
.header {
  text-align: center;
  font-size: 40px;
  color: #b77008;
}
.bookmark-header {
  text-align: center;
}
.bookmark-selection {
  border: none;
  text-align: center;
  margin: 0px;
  padding: 30px;
}
.new-form {
  margin: 30px;
}

ul {
  padding: 0px;
}
li {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
  list-style: none;
  border: 1px solid #ccc;
}

@media screen and (max-width: 700px) {
  li {
    flex-direction: column;
    text-align: center;
  }
}

.bookmark-links-btn {
  border: none;
}
.bookmark-links-btn:hover {
  color: #b77008;
  text-decoration: underline;
}
.site-link {
  text-decoration: none;
}
.site-link:hover {
  color: #b77008;
  text-decoration: underline;
}
.star-rating {
  color: #b77008;
  font-weight: 700;
  font-size: 20px;
}
.add-bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  padding: 5px;
}

textarea.bookmark-description {
  min-width: 50vw;
  min-height: 100px;
}

.err {
  color: red;
  font-weight: bold;
  text-align: center;
}
